.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: "Roboto", sans-serif;

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #f4f4f4;
    img {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 50%;
    }

    h1 {
      font-size: 18px;
      margin: 0;
      text-transform: uppercase;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
    }
  }

  .nav-links {
    display: flex;

    a {
      color: #fff;
      text-decoration: none;
      margin-left: 25px;
    }
  }

  .search-input {
    display: flex;
    margin-left: auto;

    input[type="text"] {
      padding: 10px;
      border-radius: 4px;
      border: none;
      margin-right: 10px;
      outline: none;
      background-color: #f2f2f2;
      color: #333;
      font-size: 16px;
      transition: background-color 0.3s ease;
    
      &:hover {
        background-color: #e8e8e8;
      }
    
      &:focus {
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      }
    
      &::placeholder {
        color: #999;
      }
    }
    

    button {
      padding: 5px 10px;
      border-radius: 4px;
      border: none;
      outline: none;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
    }
  }

  .search-results {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 50%;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 100;
    a {
      text-decoration: none;

      .search-result {
        padding: 5px;
        margin-bottom: 5px;
        background-color: #f4f4f4;
        color: #333;
        text-decoration: none;

        &:hover {
          background-color: #e0e0e0;
        }
      }
    }
  }

  @media (max-width: 1025px) {
    .nav-links a {
      margin-left: 15px;
    }
  }

  @media (max-width: 950px) {
    flex-direction: column;
    .nav-links {
      margin-bottom: 10px;
    }
    .search-input{
      margin: 0 auto;
    }

  }

  @media (max-width: 768px) {
    .logo h1 {
      font-size: 16px;
    }

    .search-input input[type="text"] {
      padding: 4px;

    }
  }

  @media (max-width: 480px) {
    .logo h1 {
      font-size: 14px;
    }

    .search-input input[type="text"] {
      padding: 3px;
    }
  }
}
